.character-page {
  background-color: #0F1923;
}

.character-card {
  width: max-content;
}

.search-input {
  background-color: #1A242D !important;
  padding: 0;
}

.search-input::placeholder {
  color: #8A90A2;
}

.search-input:focus {
  box-shadow: none;
}

.input-group {
  transition: box-shadow 0.2s ease-out;
  border-radius: 5px;
}

.form-control {
  border-radius: 5px;
}

.input-group:focus-within {
  box-shadow: 0 0 0 0.2rem rgb(39 111 141);
  outline: 0;
}

.input-group:focus-within .input-group-text {
  color: rgb(39 111 141) !important;
  transition: color 0.2s ease-out;
}
