#navbar {
  background-color: #1A242D;
}

.nav-link {
  color: #8A90A2;
}

.nav-link:hover {
  color: white;
}

.active {
  color: white;
  font-weight: bold;
  text-decoration: underline;
}

.hr-header {
  background-color: white;
  color: white;
}
